<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | prepend: site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" | prepend: site.baseurl %} active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

    <div class="contact-icons">
        <a class="contact-icon fa fa-lg fa-twitter" href="https://twitter.com/sutii_alex" target="_blank"></a>

        <a class="contact-icon fa fa-lg fa-github" href="https://github.com/sutiialex" target="_blank"></a>

        <a class="contact-icon fa fa-lg fa-linkedin" href="https://www.linkedin.com/in/alexandru-sutii-778a3b32/" target="_blank"></a>
    </div>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
